<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Blue Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Blue Splash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue Splash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Blue Splash Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue Splash Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Gray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Gray</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Gray Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Gray Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Gray Splash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Gray Splash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Gray Splash Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Gray Splash Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Green Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Green Splash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green Splash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Green Splash Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green Splash Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Orange Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Orange Splash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange Splash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Orange Splash Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange Splash Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Pink Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Pink Splash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink Splash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Pink Splash Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink Splash Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Purple Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Purple Splash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple Splash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Purple Splash Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple Splash Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Rainbow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Rainbow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Rainbow Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Rainbow Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Rainbow Splash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Rainbow Splash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Rainbow Splash Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Rainbow Splash Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red Splash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red Splash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red Splash Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red Splash Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Teal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Teal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Teal Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Teal Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Teal Splash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Teal Splash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Teal Splash Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Teal Splash Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Twilight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Twilight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Twilight Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Twilight Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Twilight Splash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Twilight Splash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Twilight Splash Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Twilight Splash Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Yellow Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Yellow Splash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow Splash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Yellow Splash Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow Splash Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Twilight</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
